
.grid-container{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 30% 15% 1fr;

}

.banner{
  background-image: url(./img/winter-waltz2.png);
  background-size:cover;
  background-repeat: no-repeat;
  grid-row: 1/2;
}

.white{
  display: grid;
  grid-template-columns: 30% 15% 1fr;

              }


.grid-foto{
      background-image: url(/home/salim/Desktop/becode_projectscd/repository/Mijn-CV/img/DSCF1147.JPG);
      background-size:cover;
      transform: rotate(-90deg);
      background-repeat: no-repeat;
      grid-column: : 1/2;



}

.dates-description{
  grid-row: 3/4;
}
